<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content"><div style="float: right; font-size: small;"><button id="css-switch">Condensado/Expandido</button></div><br class="clear"/><div data-template="academia:search-word"/><hr/><!--<div dxxata-tempxxlate="academia:search-substring"/>
    <hr/>
    <div dxxata-tempxxlate="academia:search-re"/> --></div>