<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content"><style>
        table { margin: 20px; }
    </style><script src="https://code.highcharts.com/highcharts.js"/><h2>Estatísticas por Verbete/Grupo</h2><div><!-- Nav tabs --><ul class="nav nav-tabs" role="tablist"><li role="presentation" class="active"><a href="#domTab" aria-controls="domTab" role="tab" data-toggle="tab">Domínios</a></li><li role="presentation"><a href="#regTab" aria-controls="regTab" role="tab" data-toggle="tab">Registos</a></li><li role="presentation"><a href="#geoTab" aria-controls="geoTab" role="tab" data-toggle="tab">Geografia</a></li><li role="presentation"><a href="#hintTab" aria-controls="hintTab" role="tab" data-toggle="tab">Hint</a></li><li role="presentation"><a href="#ggTab" aria-controls="ggTab" role="tab" data-toggle="tab">Grupos Gramaticais</a></li><li role="presentation"><a href="#etyTab" aria-controls="etyTab" role="tab" data-toggle="tab">Etimologia</a></li></ul><!-- Tab contents --><div class="tab-content"><div role="tabpanel" class="tab-pane active" id="domTab"><div><div id="dom" style="float: right;"/><div id="domTable"/></div></div><div role="tabpanel" class="tab-pane" id="regTab"><div><div id="reg" style="float: right;"/><div id="regTable"/></div></div><div role="tabpanel" class="tab-pane" id="geoTab"><div><div id="geo" style="float: right;"/><div id="geoTable"/></div></div><div role="tabpanel" class="tab-pane" id="ggTab"><div><div id="gram" style="float: right;"/><div id="gramTable"/></div></div><div role="tabpanel" class="tab-pane" id="hintTab"><div><div id="hint" style="float: right;"/><div id="hintTable"/></div></div><div role="tabpanel" class="tab-pane" id="etyTab"><div><div id="ety" style="float: right;"/><div id="etyTable"/></div></div></div></div><script type="text/javascript">
        
function mapToJson(list) {
    var json = [];
    $.each(list, function(n, content) {
        var key = $(content).find("key").text();
        var value = $(content).find("value").text();
        json.push( { 'key' : key, 'value' : value } );
    });
    return json;
}
function buildTable(list) {
    var table = $("&lt;table/&gt;");
    var rows = $.map(list, function(content, n) {
                   var tr = $("&lt;tr/&gt;");
                   tr.append("&lt;td&gt;" + content.key   + "&lt;/td&gt;");
                   tr.append("&lt;td&gt;" + content.value + "&lt;/td&gt;");
                   table.append(tr);
                });
    return table;
}
        $(function () {
            $.ajax({url: 'resources/xml/registers.xml', dataType: "xml"}).done(function(data) {
                var $data = $( data );
                var json = mapToJson($data.find("item"));
                $('#regTable').append(buildTable(json));
                var registers = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#reg').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por Registo' },
                                       legend: { enabled: false },
                                       series: [ { data: registers }] });
            });

            $.ajax({url: 'resources/xml/domains.xml', dataType: "xml"}).done(function(data) {
                var $data = $( data );
                var json = mapToJson($data.find("item"));
                $('#domTable').append(buildTable(json));
                var domains = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#dom').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por Domínio' },
                                       legend: { enabled: false },
                                       series: [ { data: domains }] });
            });
            $.ajax({url: 'resources/xml/geographics.xml', dataType: "xml"}).done(function(data) {
                var $data = $( data );
                var json = mapToJson($data.find("item"));
                $('#geoTable').append(buildTable(json));
                var geographics = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#geo').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por zona Geográfica' },
                                       legend: { enabled: false },
                                       series: [ { data: geographics }] });
            });
            $.ajax({url: 'resources/xml/hints.xml', dataType: "xml"}).done(function(data) {
                var $data = $( data );
                var json = mapToJson($data.find("item"));
                $('#hintTable').append(buildTable(json));
                var hints = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#hint').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por Hint' },
                                       legend: { enabled: false },
                                       series: [ { data: hints }] });
            });
              $.ajax({url: 'resources/xml/etymologic.xml', dataType: "xml"}).done(function(data) {
                $.ajax({url: 'resources/xml/langs.xml', dataType: "xml"}).done(function(langs) {
                var $data = $( data );
                
                var $langs = $(langs).find("item");
                var langsHash = [];
                $.map( $langs, function(content, n) {langsHash[content.innerHTML] = 1; });
                
                var json = mapToJson(
                   $.grep(
                        $data.find("item"),
                        function(x) { return $(x).find("key").text() in langsHash }));
                
                $('#etyTable').append(buildTable(json));
                var etymologic = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#ety').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por origem Etimológica' },
                                       legend: { enabled: false },
                                       series: [ { data: etymologic }] });
            });});
            
               $.ajax({url: 'resources/xml/gramgroups.xml', dataType: "xml"}).done(function(data) {
                var $data = $( data );
                var json = mapToJson($data.find("item"));
                $('#gramTable').append(buildTable(json));
                var etymologic = $.map(json, function(content, n) { return { name: content.key, y:  +content.value }});
                $('#gram').highcharts({ chart: { type: 'pie' },
                                       title: { text: 'Distribuição por Grupo Gramatical' },
                                       legend: { enabled: false },
                                       series: [ { data: etymologic }] });
            });
  });

</script></div>