
duration, status, namespace {
    display: none;
}

message:before {
    color: red;
    content: attr(level) " at line " attr(line) ", column " attr(column) ": ";
}
message {
    display: block;
}

all:before {
    content: "Validation Report";
    display: block;
    font-size: xx-large;
}

all {
    margin: 20px;
}

reports:before {
    counter-reset: error;
    content: attr(schema) " schema ";
    font-size: x-large;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

file:before {
    counter-increment: error;
    content: counter(error) " - ";
    font-weight: bold;
}
uri {
    font-weight: bold;
}
file {
    display: block;
    margin-bottom: 5px;
}
