
entry[digital="true"]:before,
group[digital="true"]:before,
sense[digital="true"]:before {
    content: "(digital) ";
    color: #333; font-weight: bold;
}

par:first-of-type:before {
    content: "Cf. ";
}
par + par:before {
    content: ", ";
}

orth[aAO]:after {
    content: " (aAO: " attr(aAO) ") ";
    font-weight: normal;
}

orth[fem]:after {
    font-weight: bold;
    content: ", " attr(fem);
}

input[type="radio"] + label {
    padding-left: 5px;
    padding-right: 10px;
}

pag:before {
    content: "p. ";
}

orth + orth:before { content: ", " }

quote i {
    font-style: normal;
}

xr {
    font-weight: bold;
}

ref {
    font-style: italic;
}

group[novo], sense[novo], note[novo],
group[new], sense[new], note[new] {
    background-color: #FFAAAA;
}
*[revisto], *[reviewed] {
    background-color: #AAFFAA;
}
group[editado], sense[editado], note[editado],
group[edited], sense[edited], note[edited] {
    background-color: #FFFFAA;
}


form { display: inline; }

orth {
    font-weight: bold;
}

meta[status] {
    display: block;
    text-align: right;
    border-bottom: dotted 1px #999999;
}

meta[status]:before {
    content: "Estado: ";
}

meta[status="imported"]:after {
    content: "Importado";
    color: #AA4444;
}
meta[status="edited"]:after,
meta[status="editado"]:after{
    content: "Editado";
    color: #AAAA33;
}
meta[status="reviewed"]:after,
meta[status="revisto"]:after{
    content: "Revisto";
    color: #44AA44;
}

meta[status="new"]:after,
meta[status="novo"]:after{
    content: "Novo";
    color: #44AA44;
}



syn { color: #009900; }
syn:before {
    content: "≈ ";
    font-weight: bold;
}

mentioned[author]:before {
    content: "(";
}
mentioned[author]:after {
    font-style: normal;
    content: ", " attr(author) ")";
}

mentioned {
    font-style: italic;
}
gramGrp {
    display: block;
    color: #990000;
    font-style: italic;
}

note:before {
    content:  "nota: ";
    font-size: x-small;
    color: #999999;
}

note {
    display: block;
    margin-top: 2px;
    color: #333333;
    font-size: small;
}

ant { color: #990000; }
ant:before {
    content: "≉ ";
    font-weight: bold;
}

quote {
    font-style: italic;
}

cit quote:before { content: ' «'; }
cit quote:after  { content: '» '; }

usg:before {
    content: attr(type) ": ";
    font-size: x-small;
    color: #999999;
}

usg[context]:after {
    content: " (" attr(context) ") "
}

usg { color: #000077; }


orth usg {
    font-size: x-small;    
}
orth usg:after {
    content: "  ";    
}


.debug {
    text-align: right;
    font-size: xx-small;
}


pron {
    display: none;
    color: #777777;
    font-family: "TITUS Cyberbit Basic", "Doulos SIL", "Gentium", "Junicode", "Cardo", "Aborigonal Serif","Arial Unicode MS";
}

note pron {
    display: inline;
}

pron:before { content: " ["; }
pron:after  { content: "] "; }

bibl:before { content: " ("; }
bibl:after  { content: ") "; }

.entry {
    border: solid 1px #777;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
}

cit { 
    display: block;
}

etym:before { content: " ("; }
etym:after  { content: ") "; }
etym        { display: block; white-space: normal;}

etym xr {
    font-weight: normal;
}

title {
    display: inline;
    font-style: italic;
}

sense[n]:before {
    content: attr(n) ". ";
    font-weight: bold;
    margin-left: -18px;
    display: inline-block;
}

sense {
    margin-left: 18px;
    display: block;
}

group {
    display: block;
    margin-left: 40px;
}

re {
    display: block;
    margin-left: 20px;
}
